<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style>
    /* input.ng-invalid{
        background-color: lightblue;
    } */
</style>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    Click on the table header to reorder the rows.
 <table border="1" width="100%">
    <tr>
        <th ng-click="orderByMe('name')">Name</th>
        <th ng-click="myOrderBy = 'country'">Country</th>
    </tr>
    <tr ng-repeat="x in names | orderBy:myOrderBy">
        <td>{{x.name}}</td>
        <td>{{x.country}}</td>
    </tr>
 </table>
</div>
<script>
    var app=angular.module("myApp", []);
    app.controller('myCtrl', function($scope){
        $scope.names = [
        {name:'Jani',country:'Norway'},
        {name:'Carl',country:'Sweden'},
        {name:'Margareth',country:'England'},
        {name:'Hege',country:'Norway'},
        {name:'Joe',country:'Denmark'},
        {name:'Gustav',country:'Sweden'},
        {name:'Birgit',country:'Denmark'},
        {name:'Mary',country:'England'},
        {name:'Kai',country:'Norway'}
        ];

        $scope.orderByMe = function (x) {
            console.log("orderByMe.x" + x);
            $scope.myOrderBy = x;
        }
    })
</script>
</body>
</html>